*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{ 
  margin:0;
  padding:0;
  background-color: hwb(221 56% 11%);                    
}

form{
  font-family: sans-serif;       
  border:orange 2px solid;
  border-radius: 25px;
  width:max-content;
  background: ghostwhite;
  padding: 25px; 
  margin: 1rem 33rem;
}

label{
  font-size: large;
}

input{
  width: 16rem;
  height: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
  border:ridge;
}

button{
  height: 25px;
  font-size: medium;
  padding: 5px;
  background: orangered;
  border:none;
  border-radius: 5px;
  color: white;
  margin-top: 5px;
  cursor:pointer;
}

button:hover{
  background-color: #aa0303;
}

a {
  margin-bottom: 5px;
  color: orangered;
  font-size:large;
  text-decoration: none;

}

a:hover,
a:active {
  color: #0603aa;
  text-decoration: underline;
}

h1{
  font-family: sans-serif;
  height: 3rem;
  text-align: center;
  padding: 5px;
  color: hwb(186 1% 91%);
  background: hsl(61, 97%, 47%)
}

h4{
  font-family: sans-serif;
  text-align: center;
  color:#6b2424;
}

/*
.container{
  width: 100;
  height: 100vh;
  background: linear-gradient(45deg,#410358, #4700bc);
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination{
  display: flex;
  align-items: center;
  background: #fff;
  color: #383838;
  padding: 10px 40px;
  border-radius: 6px;
}
ul{
  margin:20px 30px
}
ul li{
  display: inline-block;
  margin: 0 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: 45px;
  cursor: pointer;
}
ul li.active{
  color: #fff;
  background-image: linear-gradient(#ff4568,#ff4568);
  background-repeat: no-repeat;
}

.btn1 , .btn2{
  display: inline-flex;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  color:#383838;
  background: transparent;
  outline: none;
  border:none;
  cursor: pointer;
}
.btn1 img{
  width: 24px;
  margin-right: 15px;
}
.btn2 img{
  width: 24px;
  margin-left: 15px;
  transform: rotate(180deg);
}
*?
/